<h1>List of Users</h1>
<ui>
<% @users.each do |user| %>
<li><%= user[:name] %> <%= link_to "Profile", user %></li>
<% end %>
</ui>

<h2>DEBUG: Relations</h2>
</ui>
<% @follows.each do |follow| %>
<li><%= follow[:from] %> follows <%= follow[:to] %></li>
<% end %>
</ui>

